/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

$free-bg-color: #e2ecdf;
$free-text-color: #0d2537;
$busy-bg-color: #e82100;
$busy-text-color: #e2ecdf;
$info-bg-color: #0d2537;
$info-text-color: #e2ecdf;
$general-font-family: 'Roboto';
$event-font-family: 'Merriweather';
$button-font-family: 'Merriweather';

body, html{
	height: 100%;
	display: block;
	font-family: $general-font-family;
	font-size: 1vw;
	background-color: black;
}

.picker__month{
	text-transform: capitalize;
}

.viewport{
	display: block;
	width: 100%;
	height: 100%;
	background-color: black;
	overflow: hidden;
	position: relative;
	z-index: 50;
	
	& > div:first-child{
		@include transition(margin-left 0.3s ease-in-out);
	}
	
	&.show-book-room:not(.reverse) > div:first-child,
	&.reverse:not(.show-book-room) > div:first-child{
		margin-left: -66.5%;
	}
}

.one-third{
	display: block;
	height: 100%;
	width: 33.5%;
	float: left;
	position: relative;
}

.two-thirds{
	display: block;
	height: 100%;
	width: 60.5%;
	padding: 3%;
	float: left;
	position: relative;
}

.room-status{
	@include transition(background-color 0.3s ease-in-out);

	&.free{
		@include transition(background-color 0.3s ease-in-out);
		
		background-color: $free-bg-color;
		color: $free-text-color;
		
		.room-status-title{
			margin-left: -1.3rem;
		}
		
		.change-status{
			background-color: $busy-bg-color;
			color: $busy-text-color;
		}
	}
	&.busy{
		@include transition(background-color 0.3s ease-in-out);
		
		background-color: $busy-bg-color;
		color: $busy-text-color;
		
		.room-status-title{
			margin-left: -1rem;
		}
		
		.change-status{
			background-color: $free-bg-color;
			color: $free-text-color;
		}
		
		.event-details{
			opacity: 1;
		}
	}
	
	.room-name{
		font-size: 4.00rem;
		.prefix{
			font-weight: 100;
		}
		strong{
			font-weight: 900;
		}
	}
	
	.room-status-title{
		font-size: 15em;
		font-weight: 100;
	}
	
	.change-status{
		border:0;
		background: none;
		font-size: 2rem;
		font-family: $button-font-family;
		font-weight: 300;
		position: absolute;
		padding: 1rem 2rem;
		bottom: 12%;
	}
	
	.event-details{
		opacity: 0;
		@include transition(opacity 0.3s ease-in-out);
		
		.event-name{
			font-size: 4.00rem;
			font-family: $event-font-family;
			margin-top: 5rem;
		}
		
		.event-time{
			font-size: 2.50rem;
			font-family: $event-font-family;
			margin-top: 1rem;
		}
		
		.event-invites{
			font-size: 1.70rem;
			font-family: $event-font-family;
			margin-top: 2rem;
			@include column-count(2);
			
			li{
				margin: 1rem 0;
				&:first-child{
					margin-top: 0;
				}
			}
		}
	}
}

.info-panel{
	background-color: $info-bg-color;
	color: $info-text-color;
	position: relative;
	
	.current-time{
		font-weight: 100;
		width: 100%;
		font-size: 8.5rem;
		text-align: center;
		margin-top: 3rem;
	}
	
	.current-date{
		width: 100%;
		text-align: center;
		font-size: 1.7rem;
		
		.current-day{
			font-weight: 900;
			text-transform: capitalize;
		}
		.current-day-date{
			font-weight: 400;
		}
		.current-month{
			font-weight: 100;
			text-transform: lowercase;
		}
	}
	
	.next-title{
		font-size: 2.5rem;
		font-weight: 300;
		strong{
			font-weight: 700;
		}
		text-align: center;
		width: 100%;
		margin-top: 2rem;
	}
	
	
	.bottom-shadow{
		@include background-image(linear-gradient(top, rgba(13,37,55,0) 0%,rgba(13,37,55,1) 100%));
		position: relative;
		top: 59vh;
		width: 100%;
		height: 6vh;
		z-index: 100;
		pointer-events: none;
		margin-bottom: -6vh;
	}
	
	.next-events{
		padding-top: 2rem;
		font-size: 1.5rem;
		height: 60vh;
		overflow: scroll;
		position: relative;
		z-index: 50;
		padding-bottom: 2vh;
		
		.day{
			border-top: 1px solid rgba($info-text-color,0.3);
			font-size: 1.7rem;
			margin-left: 2rem;
			margin-right: 2rem;
			margin-top: 1rem;
			padding-top: 1rem;
			.day-name{
				font-weight: 900;
				text-transform: capitalize;
			}
			.date{
				font-weight: 400;
			}
			.month{
				font-weight: 100;
				text-transform: lowercase;
			}
			
			&:first-child{
				margin-top: 0;
				padding-top: 0;
				border: 0;
			}
		}
		
		.events{
			margin-left: 3rem;
			.event-time{
				margin-top: 0.7rem;
				font-weight: 600;
			}
			.event-title{
				margin-top: 0.2rem;
				margin-left: 1rem;
				font-weight: 300;
			}
		}
		
	}
	
	.book-room{
		border:0;
		background: none;
		font-size: 2rem;
		font-family: $button-font-family;
		font-weight: 300;
		padding: 1rem 2rem;
		width: 100%;
		background-color: $free-bg-color;
		color: $free-text-color;
		position: absolute;
		bottom: -2px;
		z-index: 150;
		
		&.cancel{
			background-color: $busy-bg-color;
			color: $busy-text-color;
		}
	}
}

.book-room{
	background-color: $free-bg-color;
	color: $free-text-color;
	
	.form-title{
		font-size: 3rem;
		strong{
			font-weight: 900;
		}
		.room-name{
			position: absolute;
			right: 3%;
			.prefix{
				font-weight: 100;
			}
		}
	}
	
	form {
		margin-top: 5rem;
		div{
			margin-bottom: 1rem;
			label{
				width: 10%;
				text-align: right;
				@include inline-block;
				vertical-align: top;
				font-size: 2rem;
				margin-right: 2rem;
				padding-top: 0.8rem;
			}
			input{
				background-color: $free-bg-color;
				padding: 0.5rem;
				font-size: 2rem;
				border: 1px solid $free-text-color;
				&.small{
					width: 6.5rem;
				}
				&.wide{
					width: 70%;
				}
				&:focus{
					background-color: white;
				}
			}
			textarea{
				background-color: $free-bg-color;
				padding: 0.5rem;
				font-size: 2rem;
				border: 1px solid $free-text-color;
				width: 70%;
				height: 30vh;
				&:focus{
					background-color: white;
				}
			}
		}
		input[type=submit]{
			border:0;
			background: none;
			font-size: 2rem;
			padding: 1rem 2rem;
			background-color: $info-bg-color;
			color: $info-text-color;
			position: absolute;
			right:3%;
			bottom: 12%;
		}
	}
}

.modal{
	width: 80%;
	height: 80%;
	position: absolute;
	z-index: 100;
	top: 10%;
	left: 10%;
	opacity: 0;
	pointer-events: none;
	@include transition(opacity 0.3s ease-in-out);
	display: block;
	background-color: $info-bg-color;
	color: $info-text-color;
	
	&.active{
		@include transition(opacity 0.3s ease-in-out);
		opacity: 1;
		pointer-events: auto;
	}
	
	.modal-title{
		text-align: center;
		font-size: 3rem;
		strong{
			font-weight: 900;
		}
	}
	
	
	
	button{
		border:0;
		background: none;
		font-size: 2rem;
		font-family: $button-font-family;
		font-weight: 300;
		background-color: $free-bg-color;
		color: $free-text-color;
		padding: 1rem 2rem;
		margin-top: 1rem;
		
		&.selected{
			background-color: $busy-bg-color;
			color: $busy-text-color;
		}
	}
	
	.modal-next{
		border:0;
		background: none;
		font-size: 2rem;
		font-family: $button-font-family;
		font-weight: 300;
		background-color: $free-bg-color;
		color: $free-text-color;
		padding: 1rem 2rem;
		margin-top: 1rem;
		position: absolute;
		bottom: 5rem;
		right: 5rem;
	}
	
	.calendar-select{
	
		ul{
			@include column-count(2);
			margin-top: 2rem;
			button{
			  width:  100%;
			}
		}
	}
	
	& > div{
		padding: 5rem;
		display: none;
		
		&.active{
			display: block;
		}
	}
}

.modal.active + .viewport{
	opacity: 0.3;
}